{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          <h1>Create Account</h1>
          <input type="text" name="first_name" placeholder="First Name" />
          <input type="text" name="last_name" placeholder="Last Name" />
          <input type="text" name="username" placeholder="Username" />
          <input name="email" placeholder="Email" type="email" />
          <input type="password" name="pass1" placeholder="Password" />
          <input type="password" name="pass2" placeholder="Confirm Password" />

          <button type="submit" value="Register">Register</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>Log In</h1>
            <input type="text" name="username" placeholder="Username">
            <input type="password"  name="password" placeholder="Password">
            <button type="submit" value="Login">Log In</button>
        </form>
    </div>

      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-right">
            <div class="blood_img">
              <img src="{% static 'image/blood.png' %}" alt="" srcset="" />
            </div>
            <h1>Mero Blood Bank</h1>
            <p>Register Here</p>
            <button class="hidden" id="register">Register</button>
          </div>
          <div class="toggle-panel toggle-left">
            <div class="blood_img">
              <img src="{% static 'image/blood.png' %}" alt="" srcset="" />
            </div>
            <h1>Welcome To Mero Blood Bank</h1>
            <button class="hidden" id="login">Login</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
