{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
    <style>
        html{
            height:100%
        }
        body,ul,li{
      margin: 0;
      padding: 0;
        height: 100%;

    }
    
    </style>
</head>

<body>
    <header>
        <nav>
           <div>
            <img src="{%static'image/bloodlogo-removebg-preview.png'%}" alt="" srcset=""></div> 
           <div class="brand"> <strong>MeroBloodBank</strong></div>
           
          
               <ul class="anbar">
                   <li><a href="{% url 'index' %}">Home</a></li>
                   
                   <li><a href="#">About</a></li>
               </ul> 
        </nav>
     <main>
     
       
         
       
        <h2>MeroBloodBank?</h2>
        <div class="atext">
            <p>
                ExamAId+ is an artificial intelligence (AI) powered Exam Helper system that helps students study for exams. This project analyzes syllabus, comprehends time limits, and creates customized study materials including quizzes, key questions, and summarized notes in order to offer a personalized and dynamic learning experience. <br>

                ExamAId+ is an AI-powered system that aids students in studying exams by analyzing syllabuses, understanding time limits, and creating personalized study materials.ExamAId+ enhances exam preparation with an advanced Dynamic Content Generation system. 


            

            </p>
        </div>



        </p>
        <img src="{% static 'image/about.png' %}" alt="student learning" srcset="" />
     </main>
     <footer>
         <div class="footer-container">
               <div class="footer-section">
                    <h3>Team Jay Nepal</h3>
                    </div>
                        
                    </div>
              
                    <div class="footer-bottom">
                        <p>&copy; 2024 Team Jay Nepal. All rights reserved.</p>
                    </div>
             </footer>

    
</body>
</html>