{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeroBloodBank</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
  </head>

  <body>
    <nav>
      <a class="logo" href="{% url 'landing_page' %}">
        <img src="{% static 'image/blood.png' %}" alt="" srcset="" />
        MeroBloodBank
      </a>
      <div>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'donor' %}">Donor</a>
        <a href="{% url 'bloodrequest' %}">Blood Request</a>
        <a href="{% url 'dashboard' %}" class="profile_nav" style="  color: white;
        text-decoration: none;
        margin: 0;
        max-height: 50px;
        max-width: 100px;">
        <img id="profile-photo-preview" 
     src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'image/alt_profile.png' %}{% endif %}" 
     alt="profile image"  
     style="height: 50px; width: 50px; background: rgb(255, 175, 156); border: none; border-radius: 50%; margin: 0; padding: 0;"
     onerror="this.onerror=null; this.src='{% static 'image/alt_profile.png' %}';">

        </a>
      </div>
    </nav>

    <div class="container">
      <h1>My Profile</h1>
      <div class="profile-photo">
        <img id="profile-photo-preview" src="{% if user.profile.photo %}{{ user.profile.photo.url }}{% else %}{% static 'image/alt_profile.png' %}{% endif %}" 
        alt="profile image" onerror="this.onerror=null; this.src='{% static 'image/alt_profile.png' %}';" >
    </div>
    <form id="upload-form" method="post" enctype="multipart/form-data" class="upload-form">
        {% csrf_token %}
        <p class="photo-uplaodd">
          
          <label for="id_photo" class="custom-file-upload">
              <input type="file" name="photo" id="id_photo" style="display: none;" onchange="previewProfilePhoto(event)">
              <i class="fas fa-upload"></i> Browse
          </label>
          <button type="submit">Upload Photo</button>
        </p>
    </form>
      <div class="profile-info">
        <label for="first_name">First Name:</label>
        <span>{{ user.first_name }}</span>
      </div>
      <div class="profile-info">
        <label for="last_name">Last Name:</label>
        <span>{{ user.last_name }}</span>
      </div>
      <div class="profile-info">
        <label for="username">Username:</label>
        <span>{{ user.username }}</span>
      </div>
      <div class="profile-info">
        <label for="email">Email:</label>
        <span>{{ user.email }}</span>
      </div>
      <a href="{% url 'logout' %}" class="btn-edit">Logout</a>
    </div>
    <div class="toggle-btn">
      <button onclick="toggleSection('donor')">Show Your donation</button>
      <button onclick="toggleSection('requestor')">Show your request</button>
    </div>
    <div class="dashboard">
      <div class="donor-section">
        <div class="post-container">
          {% for donor in donors %}
            <div class="post">
              <h3>{{ donor.Donor_Name }}</h3>
              <p>
                <strong>Age:</strong> {{ donor.Donor_Age }}
              </p>
              <p>
                <strong>Address:</strong> {{ donor.Donor_Address }}
              </p>
              <p>
                <strong>Blood Type:</strong> {{ donor.Donor_BloodType }}
              </p>
              <p>
                <strong>Email:</strong> {{ donor.Donor_Email }}
              </p>
              <p>
                <strong>Phone:</strong> {{ donor.Donor_Phone }}
              </p>
              <p>
                <strong>Submission Date:</strong> {{ donor.Donor_DateTime }}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="requestor-section" style="display: none;">
        <div class="post-container">
          {% for receipent in receipents %}
            <div class="post">
              <h3>{{ receipent.Receipent_Name }}</h3>
              <p>Age: {{ receipent.Receipent_Age }}</p>
              <p>Address: {{ receipent.Receipent_Address }}</p>
              <p>Email: {{ receipent.Receipent_Email }}</p>
              <p>Blood Type: {{ receipent.Receipent_BloodType }}</p>
              <p>Phone: {{ receipent.Receipent_Phone }}</p>
              <p>Hospital: {{ receipent.Receipent_Hospital }}</p>
              <p>Submitted at: {{ receipent.Receipent_DateTime }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>Team Jay Nepal</h3>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 Team Jay Nepal. All rights reserved.</p>
      </div>
    </footer>
    <script>
      function toggleSection(section) {
        const donorSection = document.querySelector('.donor-section')
        const requestorSection = document.querySelector('.requestor-section')
      
        if (section === 'donor') {
          donorSection.style.display = 'block'
          requestorSection.style.display = 'none'
        } else if (section === 'requestor') {
          donorSection.style.display = 'none'
          requestorSection.style.display = 'block'
        }
      }
      function previewProfilePhoto(event) {
        var input = event.target;
        var reader = new FileReader();
    
        reader.onload = function() {
            var profilePhotoPreview = document.getElementById('profile-photo-preview');
            profilePhotoPreview.src = reader.result;
        };
    
        reader.readAsDataURL(input.files[0]);
    }
    </script>
  </body>
</html>
