{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeroBloodBank</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
  </head>

  <body>
    <nav>
      <a class="logo" href="{% url 'index' %}">
        <img src="{% static 'image/blood.png' %}" alt="" srcset="" />
        MeroBloodBank
      </a>
      <div>
        <a href="{% url 'index_about' %}">About</a>
        <a href="{% url 'register' %}" class="profile_nav" style="  color: white;
        text-decoration: none;
        margin: 0;
        max-height: 50px;
        max-width: 100px;">
        <img id="profile-photo-preview" 
     src="{% static 'image/index_profile.png' %}"
     alt="profile image"  
     style="height: 40px; width: 40px; border: none; border-radius: 50%; margin: 0; padding: 0;">

        </a>
      </div>
    </nav>

    <div class="container" style="display: flex;
    
    align-items: center;
    margin: 0 auto;
    padding: 20px;">
      <div class="image-container" style="margin-right: 30px;">
        <img src="{% static 'image/index_image.png' %}" alt="donate blood" srcset="" />
      </div>
      <div class="content">
          <div class="slogan">
              <p><h2>रक्तदान जीवनदान । हरेक ३-३ महिनामा रक्तदान गर्ने बानी बसालौँ।</h2></p>
          </div>
          <div class="article" style="
          margin-bottom: 70PX;">
              <p style="margin-top: 25px; "><h1 style="color: #ec2d27;font-size: 3.4rem; ">Welcome to MeroBloodBank</h1></p>
              <div style="margin-bottom:140px ;"> </div>
              {% comment %} <p>For every 1000 who can Donate Blood
                only four do! What about you! <br>
                Give Blood and gift a life.</p> {% endcomment %}
              {% comment %} <p><h3>कसैले सबै गर्न सक्दैन, तर सबैले केहि गर्न सक्छन् - रक्तदान </h3></p> {% endcomment %}
              
          </div>
      </div>
  </div>
    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>Team Jay Nepal</h3>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 Team Jay Nepal. All rights reserved.</p>
      </div>
    </footer>
   
  </body>
</html>