{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeroBloodBank</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}" />
  </head>

  <body>
    <nav>
      <a class="logo" href="{% url 'index' %}">
        <img src="{% static 'image/blood.png' %}" alt="" srcset="" />
        MeroBloodBank
      </a>
      <div>
        <a href="{% url 'index_about' %}">About</a>
        <a href="{% url 'register' %}" class="profile_nav" style="  color: white;
        text-decoration: none;
        margin: 0;
        max-height: 50px;
        max-width: 100px;">
        <img id="profile-photo-preview" 
     src="{% static 'image/index_profile.png' %}"
     alt="profile image"  
     style="height: 40px; width: 40px; border: none; border-radius: 50%; margin: 0; padding: 0;">

        </a>
      </div>
    </nav>

    <div class="container" style="display: flex;
    
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;">
      <div class="image-container" style="margin-right: 30px;">
        <img src="{% static 'image/index_image.png' %}" alt="donate blood" srcset="" />
      </div>
      <div class="content">
          <div class="slogan">
              <p><h2>रक्तदान जीवनदान। हरेक ३-३ महिनामा रक्तदान गर्ने बानी बसालौँ।</h2></p>
          </div>
          <div class="article">
              <p style="margin-top: 25px;">MeroBloodBank is your comprehensive solution for managing blood resources efficiently and effectively. With our advanced platform, we ensure that blood donation, storage, and distribution are streamlined, making it easier for donors, recipients, and healthcare professionals.</p>
              <p>For every 1000 who can Donate Blood
                only four do! What about you! <br>
                Give Blood and gift a life.</p>
              <p><h1>कसैले सबै गर्न सक्दैन, तर सबैले केहि गर्न सक्छन् - रक्तदान </h1></p>
              
          </div>
      </div>
  </div>
    <footer>
      <div class="footer-container">
        <div class="footer-section">
          <h3>Team Jay Nepal</h3>
        </div>
      </div>

      <div class="footer-bottom">
        <p>&copy; 2024 Team Jay Nepal. All rights reserved.</p>
      </div>
    </footer>
   
  </body>
</html>