<!-- profile.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <div class="profile-info">
            <label for="first_name">First Name:</label>
            <p>{{ user.first_name }}</p>
        </div>
        <div class="profile-info">
            <label for="last_name">Last Name:</label>
            <p>{{ user.last_name }}</p>
        </div>
        <div class="profile-info">
            <label for="username">Username:</label>
            <p>{{ user.username }}</p>
        </div>
        <div class="profile-info">
            <label for="email">Email:</label>
            <p>{{ user.email }}</p>
        </div>
        <a href="{% url 'edit_profile' %}" class="btn-edit">Edit Profile</a>
    </div>
   <div class="requestor-section">
        <div class="post-container">
          {% for receipent in receipents %}
            <div class="post">
              <h3>{{ receipent.Receipent_Name }}</h3>
              <p>Age: {{ receipent.Receipent_Age }}</p>
              <p>Address: {{ receipent.Receipent_Address }}</p>
              <p>Email: {{ receipent.Receipent_Email }}</p>
              <p>Blood Type: {{ receipent.Receipent_BloodType }}</p>
              <p>Phone: {{ receipent.Receipent_Phone }}</p>
              <p>Hospital: {{ receipent.Receipent_Hospital }}</p>
              <p>Submitted at: {{ receipent.Receipent_DateTime }}</p>
            </div>
          {% endfor %}
        </div>
    </div>
      
</body>
</html>
